.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
.env
.env.*
*.pem
*.key
.minikube-home/
.docker-config/
localtesting/.runtime/
app/public/config.js
.idea/
.vscode/
Thumbs.db
*.DS_Store
