apiVersion: v1
kind: Secret
metadata:
  name: demo-api-db
  namespace: demo
type: Opaque
stringData:
  host: "incode-sre-dev-postgres.xxxxxxxxxxxx.eu-central-1.rds.amazonaws.com"
  port: "5432"
  dbname: "demoapp"
  username: "appuser"
  password: "replace-me"
