apiVersion: v1
kind: Secret
metadata:
  name: snake-api-db
  namespace: snake
type: Opaque
stringData:
  host: "incode-dev-postgres.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com"
  port: "5432"
  dbname: "snake"
  username: "postgres"
  password: "replace-me"
